@import '/src/main/resources/static/assets/style/range-slider.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #151515;
}

.block1 {
    position: fixed;
    background: #262626;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
}

.title1 {
    margin-left: 4%;
    margin-right: 4%;
    font-size: 40px;
    padding-top: 50px;
    color: #ffffff;
    text-align: center;
    line-height: 0;
}


ul {
    list-style: none;
    display: flex;
}

.btn {
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
    background-color: rgb(52, 152, 219);
    color: white;
    padding: 20px 3%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 90%;
    letter-spacing: 1px;
    font-weight: 300px;
    border-radius: 20px;
    text-transform: uppercase;
    transition: transform .5s, outline-color .5s;
    outline: 1px solid transparent;
    outline-offset: 4px;
}

.btn:focus-visible {
    outline-color: rgb(52, 152, 219);
}

.btn:hover {
    transform: scale(1.03);
}

.btn:active {
    transform: scale(0.97);
}

.flash-btn {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 0px 0px hsla(204, 70%, 53%, 0.4);
}

.flash-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .02;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    transition: transform .7s, opacity .3s;
}

.flash-btn:hover::after {
    transform: scale(5);
    opacity: .14;
}

.flash-btn:active {
    transition: transform .5s, outline-color .5s, box-shadow .5s;
    box-shadow: 0px 0px 0px 20px  hsla(204, 70%, 53%, 0.4);
}

.block2 {
    position: absolute;
    width: 21%;
    height: 70%;
    margin: 13% 8%;
    border-radius: 20px;
    background-color: #262626;
}

.titlefilrt {
    position: absolute;
    font-size: 40px;
    color: hsla(204, 70%, 53%);
    text-align: justify;
    padding-left: 20%;
    padding-top: 2%;
}

.block2-box1{
    background-color: #313131;
    width: 90%;
    height: 40%;
    margin: 25% 8% 5% 5%;
    border-radius: 20px;
}

.price {
    position: absolute;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: justify;
    padding-left: 32%;
    padding-top: 0%;
}


.block3 {
    position: absolute;
    width: 64%;
    height: 8%;
    margin: 13% 30%;
    padding: 3% 33%;
    border-radius: 20px;
    background-color: #262626;
}

.tovar {
    position: absolute;
    width: 64%;
    height: 25%;
    margin: 260px 30%;
    border-radius: 20px;
    background-color: #262626;
}

.tovar2 {
    position: absolute;
    width: 64%;
    height: 25%;
    margin: 490px 30%;
    border-radius: 20px;
    background-color: #262626;
}

.tovar3 {
    position: absolute;
    width: 64%;
    height: 25%;
    margin: 720px 30%;
    border-radius: 20px;
    background-color: #262626;
}